.icons {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .translate {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.icon img {
    width: 32px;
    height: 32px;
    border-radius: 0;
}

.translate img {
    width: 30px;
    height: 30px;
    border-radius: 0;
}