/* author: YueLin */

.profile {
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 3px;
    color: #555555;
    max-width: 1100px;
    margin: 20px auto;
    border-radius: 8px;
    background: #ffffff;
    transition: all 0.3s ease;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.show {
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 10px;
    height: 10px;
    display: flex;
    cursor: pointer;
    text-align: right;
    margin-right: 10px;
    border: solid #0078d7;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    transition: transform 0.3s ease;
}

.paper, .project, .competition {
    padding: 10px;
    cursor: pointer;
    max-width: 1100px;
    margin: 20px auto;
    border-radius: 8px;
    background: #ffffff;
    transition: all 0.3s ease;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.intro:hover, .paper:hover, .project:hover, .competition:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.introduction {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.level {
    margin: 0;
    font-size: 16px;
    color: #0078d7;
    margin-left: 10px;
    font-weight: bold;
    text-align: justify;
}

.authors {
    font-size: 16px;
}

.details {
    height: auto;
    font-size: 15px;
    margin-top: 3px;
    color: #555555;
    overflow: hidden;
    transition: height 1s ease, opacity 1s ease;
}

.details.hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
}
