/* author: YueLin */

.paper, .project, .competition {
    padding: 10px;
    cursor: pointer;
    max-width: 1100px;
    margin: 20px auto;
    border-radius: 8px;
    background: #ffffff;
    transition: all 0.3s ease;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.paper:hover, .project:hover, .competition:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.introduction {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.conference {
    margin: 0;
    flex-shrink: 0;
    font-size: 16px;
    color: #0078d7;
    text-align: right;
    margin-left: 10px;
    font-weight: bold;
}

.details {
    font-size: 15px;
    color: #555555;
    margin-top: 10px;
    overflow: hidden;
    transition: height 1s ease;
}
