/* author: YueLin */

h1
{
    color: #ffffff;
    transition: opacity 0.3s ease
}

h2
{
    display: flex;
    color: #444444;
    justify-content: space-between;
}

.link
{
    color: #ffd700;
    font-weight: bold;
    text-decoration: none;
}

.link:hover
{
    color: #ffffff;
    text-decoration: underline;
}

a
{
    color: #0078d7;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.3s ease
}

a:hover
{
    text-decoration: underline;
}